body {
            font-family: Arial, sans-serif;
            line-height: 1.6;
            margin: 20px;
            background-color: #22193a;
        }
        h1 {
            color: #e227ba;
        }
        p {
            color: #692e58;
        }
        a {
            color: #169112;
            text-decoration: none;
        }
        a:hover {
            text-decoration: underline;
        }
